  * {
      box-sizing:border-box;
    }

    body {
      margin: 0;
      background-color: #555;
      padding: 10px;
      font-family: sans-serif;
    }

    .container {
      display: grid;
      grid-template-rows:auto;
      gap: 10px;
    }

    header, footer {
      background: white;
      padding: 10px;
      border: 2px solid black;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    .row.two {
      grid-template-columns: 1fr;
    }

    .row.last {
      grid-template-columns: 2fr 1fr;
    }

    .item {
      background: white;
      border: 2px solid black;
      padding: 10px;
      height: 150px;
    }